# Basic python
## 1. Let's study basic python grammar

In [13]:
# list []
# set {}
# tuple ()
# dict {'키:값'}

a1 = format(123.45567,'10.3f')
print(a1)

a2 = format(123.4567, '10.3')
print(a2)

a3 = format(123, '10d')
print(a3)

   123.456
  1.23e+02
       123

In [17]:
print('서식에 의한 자료 출력 예시: %s %d %f'%('문자열', 2, 23.56))

서식에 의한 자료 출력 예시: 문자열 2 23.560000

In [170]:
kdata = input('이름을 입력: ')
print(kdata)

nai = int(input('나이 입력:'))
print(nai)

이름을 입력: 페로페로
페로페로
나이 입력:12
12

In [22]:
print(10, oct(10), hex(10), bin(10))

10 0o12 0xa 0b1010

In [25]:
print(type(nai))
print(7.2, type(7.2))
print([1],type([1]))

<class 'int'>
7.2 <class 'float'>
[1] <class 'list'>

In [38]:
# 나머지 반환
print(10%3)

# 몫을 반환
print(10//3)

# 나머지와 몫을 반환
print(divmod(10,3))

# 지수승
print(10**3)

1
3
(3, 1)
1000

In [36]:
v1, v2 = 10, 20
v1
v2

# *표시가 붙은 곳에 여러개가 할당된다
v3, *v4 = [1,2,3,4,5]
v3
v4

[2, 3, 4, 5]

In [39]:
print(5>3 and 4<3) #둘 다 참이면 참, 아니면 거짓

False

In [40]:
print(5>3 or 4<3) #둘 중 하나가 참이면 참, 아니면 거짓

True

In [44]:
#boolean 처리
bool(0) #0이면 무조건 False / 비어 있는 값도 무조건 False
bool(-1) #0이 아니면 무조건 True

True

In [54]:
slc = 'python'
slc[0:1]
slc[2:4]
slc[-5:-3]

slc2 = '12345.5678.64'
slc2[0:5]

'12345'

In [82]:
a = ' Hello Python '

a.count('h') #h의 갯수를 반환한다
a.find('p') #위치를 앞에서 부터 찾는다
a.rfind('p') #위치를 뒤에서 부터 찾는다
a.index('o') #위치를 앞에서 부터 찾는다(없으면 에러 발생)
'&'.join(a) #문자열 각 요소 문자 사이에 &를 삽입한다.

a.lower() #모두 소문자로 변환
a.upper() #모두 대문자로 변환

a.lstrip() #문자열 왼쪽의 공백을 모두 지운다
a.rstrip() #문자열 오른쪽의 공백을 모두 지운다 

a.replace('o', 'r') #문자열 안의 o를 r로 바꾼다
a.split('sep') # 문자열 a를 구분자로 나누어 리스트값을 반환한다
a.swapcase() # 대문자는 소문자로, 소문자는 대문자로 반환한다
a.startswith('H') #H로 시작되는지 여부를 True, False로 나누어서 반환한다
len(a) #문자열 크리(길이)를 반환한다

14

In [104]:
list01 = ['one', 'TWO', 'Three']

list02 = []
for i in list01 :
    list02.append(i.lower())
    
print(list02)

['one', 'two', 'three']

In [107]:
list01 = ['one', 'TWO', 'Three']

list03 = [w for w in list01 if w.islower()]
# 특정한 값만 for 문으로 돌려서 리스트에 담을 때 

print(list03)

['one']

In [110]:
number = '123 456 678'
number2 = number.split(' ') #공백으로 문자열을 나누어서 담기! 
print(number2)

['123', '456', '678']

In [113]:
number3 = '-'.join(number2) #나누어진 값을 - 로 붙여서 담기! (join 앞에 무엇으로 나눌지 써야함!)
number3

'123-456-678'

In [118]:
number4 = number.replace(' ', '0') #공백을 0으로 바꾸어서 담기! 
number4

'12304560678'

In [119]:
number4.split('0') # split 복습 (split 결과는 list에 담긴다)

['123', '456', '678']

In [120]:
number4.replace('0', '-') # replace 복습

'123-456-678'

In [141]:
list_n = ['111','222']
'-'.join(list_n) #join은 list 상태에서 쓸 수 있다는 거

'111-222'

In [158]:
# list 에 문자 추가하기 

listnew = [0,1,2,3,4]
listnew.insert(0,99) # 0번째(인덱스 값)에 99를 추가해라

listnew.append(88) # 마지막 요소에 88을 추가해라

listnew.extend([5]) # 마지막 요소에 40을 추가해라 (append 와 달리 리스트에 넣어야함)
listnew

[99, 0, 1, 2, 3, 4, 88, 5]

In [166]:
aalist = [4,2,6,8,3,1]
aalist.sort() #작은 숫자부터 큰 숫자 순서로 리스트업 해라
aalist

aalist.sort(reverse=True) #큰 숫자부터 작은 숫자 순서로 역순으로 정렬해라
aalist

[8, 6, 4, 3, 2, 1]

In [168]:
listnew.sort(key=int) #문자형이지만 숫자라고 생각하고 정렬해라 
listnew

[0, 1, 2, 3, 4, 5, 88, 99]

In [172]:
mydic = dict(A = 11, B = 'bbb', C='2.3')
mydic

{'A': 11, 'B': 'bbb', 'C': '2.3'}

In [174]:
mydic['A'] # dict 에서 key로 value 조회할 때
mydic.get('B')

11

In [177]:
mydic.keys() # dict 에서 key 값들을 알고 싶을 때 
mydic.values() # dict 에서 value 값들을 알고 싶을 때 
mydic.items() # dict 에서 key오 value 값들을 알고 싶을 때

dict_items([('A', 11), ('B', 'bbb'), ('C', '2.3')])

In [182]:
mydic['D'] = 1234 #새로운 key, value를 추가할 때 
mydic

{'A': 11, 'B': 'bbb', 'C': '2.3', 'D': 1234}

In [185]:
print(mydic.values()) # value 알려줘
print(list(mydic.values())) #value 만 list로 출력할 때

dict_values([11, 'bbb', '2.3', 1234])
[11, 'bbb', '2.3', 1234]

In [195]:
agefind = {'george':16,'amber':19} #특정 value에 해당하는 key를 몽땅 찾고 싶을 떄는? 

print(agefind.items())
for name, age in agefind.items(): 
    if age == 16 :
        print(name)

dict_items([('george', 16), ('amber', 19)])
george

In [1]:
a = range(1,12) # 범위지정: 1부터 12까지
print(a)
print(list(a))

b = range(0,11,3) # 0부터 11까지 3씩 커지면서-
print(list(b))

range(1, 12)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 3, 6, 9]